<h1>Good Reels</h1>
<p>Remember All the Movies You Watch!</p>
<p><%= link_to "Let's get this party started!", signup_path %></p>
<% if logged_in? %>
    <p><%= link_to "Log out", logout_path, method: :delete %></p>
<%end%>
