<li id="movie-<%= movie.id %>">
  <span class="content"><%= movie.content %></span>
  <span class="rating"><%= movie.rating %></span>
  <span class="timestamp">
    posted <%= time_ago_in_words(movie.created_at) %> ago.
  </span>
</li>