<%= form_for (@movie) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div>
    <input id="movie_content" name="movie[content]" placeholder="Add a new movie!" type="text" class="field">
    <input class="btn btn-primary" name="commit" type="submit" value="Post">
  </div>
<% end %>