<%= form_for (@movie) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div>
    <fieldset class="movie-form">
      <p>Movie Title: </p>
      <input id="movie_content" name="movie[content]" type="text" class="field">
  	  <br>
      <p style="padding-right:35px">Rating: </p>
      <input id="movie_rating" name="movie[rating]" placeholder="0" type="number" max="5" min="0">
	    <br>
	    <div style="margin-left:6.2em">
      	<input class="btn btn-primary" name="commit" type="submit" value="Add">
      </div>
    </fieldset>
  </div>
<% end %>