<%= form_for (@movie) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div style="width:50%; padding-left: 37%; padding-top: 20px">
    <fieldset class="movie-form">
      <input id="movie_content" name="movie[content]" placeholder="Add a new movie!" type="text" class="field">
      <input id="rating" name="movie[rating]" placeholder="0" type="number" max="5">
      <input class="btn btn-primary" name="commit" type="submit" value="Post">
    </fieldset>
  </div>
<% end %>