.page_header{
    text-align:center;
    width:100%;
    margin-right:10%;
}
.top_buttons{
    display:inline;
    width:33%;
    margin-left:auto;
    margin-right:auto;
}
.sub_header{
    font-size:14px;
    text-align:center;
}
body{
	font-family: verdana;
	background-color:#FFFFFF;
}
a{
    text-decoration:none;
    color:#000099;
}
a:hover{
    color:#1947D1;
}
h1{
    color:#224488;
    text-align:center;
}
h2{
    color:#224488;
}
.h_line{
	width:80%;
	height:2px;
	background-color: #7094FF;
	margin-left:auto;
	margin-right:auto;
}
label{
    width: 7em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block
}
.submit{
    margin-left: 7.5em;
}
.small_text{
    font-style:italic;
    font-size:12px;
    text-align:center;
}
.tiny_text{
    font-size:8px;
    text-align:center;
}
.center{
    width:20%;
    margin-left:auto;
    margin-right:auto;
}
fieldset{
    background-color:#F0FAFF;
    border:1px solid #CCD6EB;
    border-radius:.5em;
    width:16em;
    margin-left:auto;
    margin-right:auto;
    margin-top:2em;
    margin-bottom:1em;
}
p {
    text-align:center;
}