.user_info{
    width:10%;
    margin-left:90%;
    border: 1px solid #CCD6EB;
    position: fixed;
    top:0;
    right:10px;
    background-color:#F0FAFF;
}
.name, .email, h2, p{
    text-align:center;
}
.small_text, .tiny_text {
	display:block;
}